.App {
	text-align: center;
	height: 100vh;
	width: 100%;
	font-family: "Roboto", sans-serif;
}

#tasksContainer {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

#tasksDivider {
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 100%;
}

.categoryContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

.categoryContainer::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

.tasksCardsContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
